*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-crucial{
    /* height: 100vh; */
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
}

.speaker-view{
    height:25px;
    display: flex;
    justify-content: flex-end;
}
.icons{
    display: flex;
    background-color: #555; */
    width:60px;
    border-radius: 20px;
    
}


.container-img{
    margin-top: 50px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;  
}

.img img{
    width: 100%;
}
.img {  
    /* width:200px;
    height:150px; */
    /* margin: 50px 5px; */
    border: 2px black solid;
}

nav{
    margin-top: 50px;
    height:80px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

nav ul{
    display:flex;
    list-style: none;
}


nav ul li{
    display:flex;
    padding: 18px 10px;
}

li{
    flex-direction: column;
    align-items: center;
    display: flex;
}

ul li:only-child {
    color:red;
    background-color: #555;
    height: 80px;
    padding:30px;
}

.freccia{
     justify-content: flex-end;
     font-size:16px;
     font-weight: bold;
}

